// ----------------------------------
// =blogpost (detail pages)
// ----------------------------------

.c-blogpost__image {
  margin-bottom: 1.5rem;
}

.c-blogpost__content {
  max-width: 80ch;
  margin: 0 auto;
}
