// ----------------------------------
// =pagination
// ----------------------------------

.c-pagination {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-pagination__item:not(:last-child) {
  margin-right: calc(3 / 16 * 1rem);
}

.c-pagination__first,
.c-pagination__last,
.c-pagination__link {
  display: inline-block;
  padding: calc(6 / 16 * 1rem) calc(10 / 16 * 1rem);
  line-height: 1;
}

.c-pagination__link {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--color-black);
}

.c-pagination__link.is-active {
  border-color: rgba(0, 0, 0, 0);
}
