// ----------------------------------
// =site header
// ----------------------------------

.c-sitefooter {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-sitefooter__copyright {
  margin-bottom: 0;
}
