{% extends "layouts/base.njk" %}

{% import "macros/dates.njk" as dates %}

{% set metaTitle = title %}
{% set metaDescription = intro %}
{% set metaImage = site.metaImage %}

{% set navSection = "blog" %}

{% block content %}
  <div class="l-container">
    <p>{{ dates.htmldate(date) }}</p>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    {{ content | safe }}
  </div>
{% endblock %}