---
pagination:
  data: collections.blogposts
  size: 2
  alias: blogposts
permalink: blog{% if pagination.pageNumber > 0 %}/p{{ pagination.pageNumber + 1 }}{% endif %}/index.html
---
{% extends "layouts/base.njk" %}

{% set metaTitle = "Blog" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% set navSection = "blog" %}

{% from "macros/itemBlogpost.njk" import itemBlogpost %}

{% block content %}
<main>
  <div class="l-container">

    <h1 class="c-h1">Blog archive</h1>

    {% for item in blogposts %}
      {% if loop.first %}<ul>{% endif %}
        <li>
          {{ itemBlogpost(
            date=item.date,
            title=item.data.title,
            url=item.url,
            intro=item.data.intro
          ) }}
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% else %}
      <p>No blogposts found</p>
    {% endfor %}

    {% include "partials/pagination.njk" %}

  </div>
</main>
{% endblock %}