---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set metaTitle = "Home" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% set navSection = "home" %}

{% block content %}
<main>
  <div class="l-container">
    <h1 class="c-h1">Homepage</h1>
  </div>
</main>
{% endblock %}
